@import "../../../../../styles/imports.scss";

.menu__navbar {
  background: url("../../../../../public/media/images/menu-bg.png");
  background-size: cover;
  background-position: right;
  padding: 1rem 1rem;
  img {
    cursor: pointer;
  }
  &__top {
    padding: 0.5rem 0;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    position: sticky;
    top: 0;
    transform: translateX(3.125rem);

    button {
      background-color: transparent;
      border: none;
      padding: 0.1rem 5rem;
    }
  }

  input {
    margin: 1rem 0;
    padding: 0.5rem;
    width: 100%;
    border-radius: 3.125rem;
    border: 0.125rem solid $PrimaryYellow;
  }

  &__bottom {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    &__info {
      width: 30%;
      color: white;
      a {
        display: flex;
        align-items: center;
        column-gap: 0.4rem;
      }
      h1 {
        width: 70%;
        border-bottom: 0.125rem solid $PrimaryYellow;
        color: $PrimaryYellow;
        text-transform: uppercase;
        font-size: 2rem;
        font-family: serif;
        font-weight: 100;
        padding-bottom: 1rem;
      }
      ul {
        padding: 0;
        li {
          padding: 0.4rem;
          a {
            border-bottom: 3px solid transparent;
            transition: 0.4s;
            padding: 0.3rem 0;
            &:hover {
              border-color: $PrimaryYellow;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .menu__navbar {
    &__bottom {
      &__info {
        width: 45%;
        text-align: start;
        h1 {
          width: 100%;
        }
        &:last-child {
          width: 95%;
        }
      }
    }
  }
}
@media (max-width: 650px) {
  .menu__navbar {
    &__bottom {
      &__info {
        width: 100%;
      }
    }
  }
}
@media (max-width: 450px) {
  .menu__navbar__bottom__info {
    img {
      display: none !important;
    }
  }
}
